.admin-page{

min-height:100vh;

padding:70px;

background:#eef4ff;

}

.admin-page h1{

text-align:center;

font-size:45px;

color:#4F46E5;

}

.admin-page p{

text-align:center;

margin-bottom:50px;

color:#64748b;

}

.admin-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

gap:35px;

max-width:1200px;

margin:auto;

}

.admin-card{

background:white;

padding:40px;

border-radius:25px;

cursor:pointer;

text-align:center;

transition:.35s;

box-shadow:0 15px 35px rgba(0,0,0,.08);

}

.admin-card:hover{

transform:translateY(-10px);

}

.admin-icon{

width:90px;

height:90px;

margin:auto;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:45px;

color:white;

margin-bottom:20px;

}

.blue{

background:#2563eb;

}
