.quiz-container{

min-height:100vh;

padding:50px;

background:#f8faff;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

}

.progress-bar{

width:80%;

height:10px;

background:#dbeafe;

border-radius:20px;

margin-bottom:30px;

overflow:hidden;

}

.progress-fill{

height:100%;

background:linear-gradient(90deg,#4f46e5,#7c3aed);

transition:.4s;

}

.question-count{

margin-bottom:20px;

font-weight:600;

color:#64748b;

}

.question-card{

background:white;

width:800px;

padding:40px;

border-radius:25px;

box-shadow:0 20px 40px rgba(0,0,0,.08);

}

.question-card h2{

margin-bottom:30px;

color:#1e293b;

}

.options{

display:flex;

flex-direction:column;

gap:18px;

}

.option{

padding:18px;

border:2px solid #e2e8f0;

border-radius:15px;

cursor:pointer;

transition:.3s;

font-size:17px;

}

.option:hover{

border-color:#4f46e5;

background:#eef2ff;

}

.option.selected{

background:#4f46e5;

color:white;

border-color:#4f46e5;

}

.option input{

margin-right:12px;

}

.buttons{

margin-top:40px;

display:flex;

justify-content:space-between;

}

.buttons button{

padding:14px 35px;

border:none;

border-radius:12px;

background:#4f46e5;

color:white;

cursor:pointer;

font-size:16px;

}

.submit-btn{

background:#16a34a !important;

}

button:disabled{

opacity:.5;

cursor:not-allowed;

}.loading-container{
    min-height:70vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.loader{
    width:60px;
    height:60px;
    border:6px solid #ddd;
    border-top:6px solid #4F46E5;
    border-radius:50%;
    animation:spin 1s linear infinite;
    margin-bottom:20px;
}

.loading-container h2{
    color:#4F46E5;
}

@keyframes spin{
    100%{
        transform:rotate(360deg);
    }
}